<html>
  <head>
    <style>
      body { font-family: Arial, sans-serif; background-color: #000; /* Black
      background */ margin: 0; padding: 0; color: #fff; /* White text */ }
      .email-container { max-width: 600px; margin: auto; background: #000; /*
      Black background for the container */ padding: 20px; text-align: center; }
      .header { background-color: #202040; /* Purple background for the title */
      color: white; padding: 10px 0; } .content { padding: 20px 10px;
      line-height: 1.5; } .footer { font-size: 12px; color: #999; padding: 10px;
      border-top: 1px solid #444; /* Slightly lighter line for separation */ }
      .data-table { width: 100%; border-collapse: collapse; margin: 20px 0; }
      .data-table th, .data-table td { border: 1px solid #444; padding: 10px;
      text-align: left; } .data-table th { background-color: #202040; }
      .data-table td { background-color: #333; } .logo { margin: 20px 0; }
    </style>
  </head>
  <body>
    <div class='email-container'>
      <div class='logo'>
        <img src='cid:logo' alt='NxTemplate Logo' width='200' />
        <!-- Replace with your logo URL -->
      </div>
      <div class='header'>
        <h1>Order Creation Failed</h1>
      </div>
      <div class='content'>
        <p>Your order creation has failed with the following details:</p>
        <table class='data-table'>
          <tr>
            <th>Field</th>
            <th>Details</th>
          </tr>
          <tr>
            <td>Exchange Order ID</td>
            <td>Non-existing due to fail on request</td>
          </tr>
          <tr>
            <td>Exchange Fail reason</td>
            <td>{{exchangeOrderMessage}}</td>
          </tr>
          <tr>
            <td>Symbol</td>
            <td>{{symbol}}</td>
          </tr>
          <tr>
            <td>Action</td>
            <td>{{action}}</td>
          </tr>
          <tr>
            <td>Type</td>
            <td>{{type}}</td>
          </tr>
          <tr>
            <td>Quantity</td>
            <td>{{quantity}}</td>
          </tr>
          <tr>
            <td>Price</td>
            <td>{{price}}</td>
          </tr>
          <tr>
            <td>Trigger Time</td>
            <td>{{triggerTime}}</td>
          </tr>
          <tr>
            <td>Executed Time</td>
            <td>{{executedTime}}</td>
          </tr>
        </table>
        <p>If you did not request this order, please contact our support.</p>
      </div>
      <div class='footer'>
        Regards,<br />
        The NxTemplate Team
      </div>
    </div>
  </body>
</html>